body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.gallery {
    flex: 1;
    overflow: hidden;
    text-align: center;
}

.gallery img {
    width: 100px; /* Adjust the size as needed */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
